# Visual studio code
.vscode/*

# Include launch file for VS code.
!.vscode/launch.json

# Nvidia nonsense.
.nv/*

# Shell scripts
*.sh

# Executables
bin/*

# Build files
build/**/*.o
build/**/*.d

# Documentation
docs/html/*

# Dependencies
deps